QWidget {
    background-color: #f0f0f0;
    color: #000000;
}
QWidget#link_widget {
    border: 2px solid #bebebe;
    border-radius: 5px;
}
QWidget:item:selected {
    background-color: #90EE90;
}
QGroupBox, QLineEdit, QComboBox, QTextEdit {
    border: 1px solid #bebebe;
    border-radius: 5px;
    margin-top: 1ex;
}
QPushButton {
    background-color: #d4d4d4;
    color: #000000;
    font: 18px Arial;
    border-radius: 5px;
}
QPushButton.selected {
    background-color: #90EE90;
}
QPushButton.selected:hover {
    background-color: #b1f7b1;
}
QPushButton:hover {
    background-color: #afafaf;
    color: #000000;
    font: 18px Arial;
}
QPushButton.warning {
    background-color: #ff0000;
}
QLabel {
    font: 16px Arial;
}
QLabel#link_label {
    font: 20px Arial;
}
QFont {
    font: 18px Arial;
}
QTextEdit {
    font: 16px Arial;
}
QLineEdit {
    font: 16px Arial;
}
QComboBox {
    font: 16px Arial;
}
QCheckBox {
    font: 16px Arial;
}
QListWidget {
    font: 30px Arial;
}
QScrollBar:vertical {
    background: #f0f0f0;
    width: 15px;
    margin: 15px 0 15px 0;
    border: 1px solid #bebebe;
    border-radius: 5px;
}
QScrollBar::handle:vertical {
    background: #d4d4d4;
    min-height: 20px;
    border-radius: 5px;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    border: none;
    background: none;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}
QScrollBar:horizontal {
    background: #f0f0f0;
    height: 15px;
    margin: 0 15px 0 15px;
    border: 1px solid #bebebe;
    border-radius: 5px;
}
QScrollBar::handle:horizontal {
    background: #d4d4d4;
    min-width: 20px;
    border-radius: 5px;
}
QScrollArea {
    border: none;
}
*:focus {
    border: 2px solid #b1b1b1;
    border-radius: 5px;
}